vendor/phpunit
.phpunit.result.cache
vendor/bin/
vendor/doctrine/
vendor/hamcrest/
vendor/mockery/
vendor/nikic/
vendor/omnipay/tests
vendor/phar-io
vendor/php-http/client-common
vendor/php-http/mock-client
vendor/psr/http-factory
vendor/sebastian
